* {
  padding: 0px;
  margin: 0px;
}

body {
  flex-direction: column;
}

section {
  display: flex;
  justify-content: center;
  align-content: center;
  align-itens: center;
  background: #1ca1d637;
  background: linear-gradient(180deg, rgb(21,90,117) 34%, rgba(10, 10, 10, 0) 100%);
  height: 8vh;
}

section img {
  display: flex;
  width: 120px;
  height: 60px;
  justify-content: center;
  align-content: center;
  align-itens: center;
}

h2 {
  color: rgba(14,47,102,0.863);
  display: flex;
  justify-content: center;
  font-size: 17px;
  
}