* {
  padding: 0px;
  margin: 0px;
}

body {
  flex-direction: column;
  gap: 2px;
}

section {
  display: flex;
  justify-content: center;
  align-content: center;
  align-itens: center;
  background: #0f516b37;
  background: linear-gradient(180deg, rgb(13, 64, 84) 34%, rgba(10, 10, 10, 0) 100%);
  height: 12vh;
}

section img {
  display: flex;
  width: 120px;
  height: 60px;
  justify-content: center;
  align-content: center;
  align-itens: center;
}

h2 {
  font-family: "Montserrat" sans-serif;
  color: rgba(14,47,102,0.863);
  display: flex;
  justify-content: center;
  font-size: 17px;
  
}

.cardPrincipal {
  display: flexbox;
  justify-self: center;
  width: 80vw;
  height: 70vh;
  background-color: aqua;
}

footer {

  background-color: blue;
}