* {
  padding: 0px;
  margin: 0px;
}

body {
  flex-direction: column;
  display: flex;
  min-height: 100vh;
  margin: 0;
}

section {
  display: flex;
  justify-content: center;
  align-content: center;
  align-itens: center;
  background: #0f516b37;
  background: linear-gradient(180deg, rgb(13, 64, 84) 34%, rgba(10, 10, 10, 0) 100%);
  height: 12vh;
}

section img {
  display: flex;
  width: 120px;
  height: 60px;
  justify-content: center;
  align-content: center;
  align-itens: center;
}

h2 {
  font-family: "Montserrat" sans-serif;
  color: rgba(14,47,102,0.863);
  display: flex;
  justify-content: center;
  font-size: 17px;
  
}

.cardPrincipal {
  display: grid;
  grid-template-rows: repeat(2, 1.5fr);
  grid-column:unset;
  align-self: center;
  width: 80vw;
  height: 70vh;
  background-color: aqua;
}

.cardEsquerdo01 {
  flex: 1;
  width: 35vw;
  height: 30vh;
  border-radius: 30px 30px 30px 30px;
  background-color: black;

}

.cardEsquerdo02 {
  flex: 1;
  right: 210px;
  top: 30vh;
  width: 35vw;
  height: 40vh;
  border-radius: 30px 30px 30px 30px;
  background-color: rgb(241, 0, 0);

}

.cardDireito01 {
  flex: 1;
  right: 8px;
  width: 35vw;
  height: 30vh;
  border-radius: 30px 30px 30px 30px;
  background-color: rgb(55, 222, 0);

}

footer {
  margin-top: auto;
  background-color: blue;
}